/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	font-family: "Inter", -apple-system, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starts Here */

#container {
  background-color: red;
  height: 100vh;
  display: flex;
}

#sidebar {
  width: 300px;
  background-color: rgb(235, 235, 235);

  overflow-y: auto;
  border-right: 1px solid rgb(174, 174, 174);

  display: flex;
  flex-direction: column;
}

#todolist {
  flex: 1;
  background-color: rosybrown;
}

#header {
  background-color: white;
  border-bottom: 1px solid rgb(174, 174, 174);
  height: 40px;
  padding: 20px 12px 20px 20px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

#title {
  font-size: 20px;
  font-weight: 600;
}

#addButton {
  color: black;
  padding: 8px;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  overflow: hidden;

  border: none;
  border-radius: 4px;
  font-size: 28px;
}

#deadlines {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 260px; */
  padding: 20px 0px 20px 0px;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#day,
#week,
#month {
  /* flex: 1; */
  padding: 20px;
  background-color: white;
  border-top: 1px solid rgb(174, 174, 174);

  display: flex;
  justify-content: space-between;
}

.filter:last-child {
  border-bottom: 1px solid rgb(174, 174, 174);
}

.filter {
  transition: filter 100ms;
}

.filter:hover {
  filter: brightness(0.95);
}

.dot {
  height: 12px;
  width: 12px;
  align-self: center;
  border-radius: 50%;
}

.dot.orange {
  background-color: orange;
}

.dot.red {
  background-color: tomato;
}

.dot.green {
  background-color: rgb(27, 172, 27);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  overflow-y: auto;
}

#projects::-webkit-scrollbar {
  display: none;
}

.project {
  background-color: white;
  border-top: 1px solid rgb(174, 174, 174);
  border-left: 1px solid rgb(174, 174, 174);
  height: 60px;
  width: 100%;
  padding: 20px;
  /* flex: 30%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;

  transition: filter 100ms;
}

.project:hover {
  filter: brightness(0.95);
}

.projectTitle {
  font-size: 18px;
  font-weight: 500;
}

.numberOfTasks {
  font-size: 14px;
  color: rgb(182, 182, 182);
}

#todoList {
  flex: 1;
  display: flex;
  background-color: white;
  justify-content: center;
}

#listWrapper {
  background-color: rgb(235, 235, 235);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#listHeader {
  background-color: white;
  /* border-bottom: 1px solid black; */
  /* height: 80px; */
  padding: 35px 20px 17px 30px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
  font-size: 28px;
  font-weight: 600;
}

#list {
  display: flex;
  flex-direction: column;
}

.list-item {
  background-color: white;
  padding: 20px 20px 20px 30px;
  /* border: 1px solid blue; */

  display: flex;
  align-items: center;
  gap: 12px;

  transition: opacity 100ms ease-in-out;
}

.list-item:hover {
  opacity: 0.7;
}

#details {
  background-color: rgb(240, 240, 240);
  transition: opacity 100ms ease-out, height 200ms ease-out;
  opacity: 0;
  height: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  visibility: hidden;
}

#details.show {
  opacity: 1;
  /* min-height: 50px; */
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;

  visibility: visible;
}

#details input[type=date] {
  font-family: 'Inter';
  padding: 10px 5px 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}


#details.show input[type=text] {
  flex: 1;
  padding: 12px;
  font-family: "Inter";
  border-radius: 5px;
  
  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
}

[type=checkbox] {
  width: 20px;
  height: 20px;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */
[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

/* Checked */
[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */
[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}

/* IE */
[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

#addTodoButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal */
/* https://codeorum.com/tutorials/simple-modal-element-with-vanilla-js-and-animation-effects */

.modal {
  z-index: 9999;

  width: 100%;
  height: 100%;
  position: fixed;

  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.3s ease-in-out; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .m-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  min-height: 150px;
  height: auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal .m-container.slide-from-top {
  top: -200px;
}

.modal .m-container .m-title {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  margin: 0;
  padding: 20px 20px;
  border-radius: 5px 5px 0 0;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 18px;
  flex-wrap: wrap;
  color: rgb(69, 69, 69);
}

.modal .m-container .m-content {
  box-sizing: border-box;
  background-color: #fff;
  min-height: 150px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.modal .m-container .m-content .m-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal.active .m-container {
  opacity: 1;
}

.modal.active .m-container.slide-from-top {
  top: 0px;
}


/* modal-form */

input {
    width: 100%;
}

span {
    display: block;
    /* overflow: hidden; */
    padding-right:10px;
}
button {
    float: right;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-item {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 16px;
}

input:focus {
  outline: none;
}

input[type=text],
input[type=date] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  border: 1px solid rgb(205, 205, 205);
  border-radius: 4px;
}

#submitTodoBtn {
  background-color: #007bff;
  border: none;
  border-radius: 0px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  color: white;
  font-size: 18px;
}

.form-item input {
  padding: 10px;
}

input[type=submit] {
  padding: 10px;
  border-radius: 10px;
}